.bs-example {
	margin: 20px;
	font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;


}
.navbar {
	background-color: #3e3f3a;
}

.navbar-brand {
	float: left;
	padding: 20px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 60px;
	color: white;
}
.nav-item {
	color: white;
}
.navbar-light .navbar-brand {
	color: white;
}

.navbar-light .navbar-nav .nav-link {
	
	float: left;
	padding: 20px 15px;
	font-size: 18px;
	line-height: 20px;
	height: 60px;
	color: white;
}
.ml-auto {
	color:white;
}
